<div class="container">
  <div class="level">
    <div class="level-item has-text-centered">
      <div class="mb-2">
        <p class="heading">Preis</p>
        <p class="title">Kostenlos</p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="mb-2">
        <p class="heading">In Kooperation mit</p>
        <img src="/assets/images/logo-agm.png" width="300" alt="Alzheimer Gesellschaft München">
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div class="mb-2">
        <p class="heading">Bedienung</p>
        <p class="title">Alexa Skill + App</p>
      </div>
    </div>
  </div>
</div>
