<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="is-flex">
        <div class="title mr-2">
          <app-icon name="map-pin-alt"></app-icon>
        </div>
        <div>
          <h1 class="title">
            Dein Orte
          </h1>
          <h2 class="subtitle">Orte die du gespeichert hast</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <app-locations-card></app-locations-card>
      </div>
    </div>
  </div>
</section>
